.venv/
.obsidian/
*.pyc
__pycache__/
.pytest_cache/
.vscode/
.coverage
dataset/*.opus
dataset/*bak
dataset/test*
experiments/runs/
notebooks/
models/
scripts/
src/examples/
src/ai*
docker*
config.yaml
*_manual.md
*_draft.md
*.wav
*.opus
*.sqlite3
cache*.yaml
