.venv/
.obsidian/
*.pyc
__pycache__/
.pytest_cache/
.vscode/
dataset/
notebooks/
models/
scripts/
src/examples/
src/ai*
src/benchmark
/tests
docker*
config.yaml
pytest.ini
*_manual.md
*_draft.md
*.wav
*.opus
