# ==========================================
# РЕСУРСЫ: Пути к моделям
# ==========================================
work:
  vad_model_name: "silero"
  embed_model_name: "3dspeaker"
  # Должен быть только один незакомментированный параметр "asr_model_name"
  asr_model_name: "giga-am-v3"
  # asr_model_name: "qwen3-0.6b"
  # asr_model_name: "qwen3-1.7b"
models:
  # Распознавание речи
  asr:
    giga-am-v3:
      short_name: "gig3pu8"
      asr_type: "nemo_ctc"
      model: "models/asr/giga-am-v3/model.int8.onnx"
      tokens: "models/asr/giga-am-v3/tokens.txt"
    qwen3-0.6b:
      short_name: "qwen3068"
      asr_type: "qwen3"
      conv_frontend: "models/asr/qwen3-asr-0.6b/conv_frontend.onnx"
      encoder: "models/asr/qwen3-asr-0.6b/encoder.int8.onnx"
      decoder: "models/asr/qwen3-asr-0.6b/decoder.int8.onnx"
      tokenizer_dir: "models/asr/qwen3-asr-0.6b/tokenizer"
    qwen3-1.7b:
      short_name: "qwen3178"
      asr_type: "qwen3"
      conv_frontend: "models/asr/qwen3-asr-1.7b/conv_frontend.onnx"
      encoder: "models/asr/qwen3-asr-1.7b/encoder.int8.onnx"
      decoder: "models/asr/qwen3-asr-1.7b/decoder.int8.onnx"
      tokenizer_dir: "models/asr/qwen3-asr-1.7b/tokenizer"

  # Детекция активности (VAD)
  vad:
    silero:
      short_name: "sil"
      model: "models/vad/silero/silero_vad.onnx"
      sample_rate: 16000

  # Диаризация (Сегментация и Эмбеддинги)
  segmentation:
    pyannote:
      short_name: "pyan8"
      model: "models/diarization/segmentation-model.onnx"
  embedding:
    wespeaker:
      # model: "/models/diarization/wespeaker_en_voxceleb_CAM++_LM.onnx"
      # model: "/models/diarization/wespeaker_en_voxceleb_resnet34_LM.onnx"
      model: "/models/diarization/wespeaker_en_voxceleb_resnet152_LM.onnx"
    nemo:
      # model: "/models/diarization/nemo_en_speakerverification_speakernet.onnx"
      # model: "/models/diarization/nemo_en_titanet_small.onnx"
      model: "/models/diarization/nemo_en_titanet_large.onnx"
    3dspeaker:
      # model: "/models/diarization/3dspeaker_speech_campplus_sv_en_voxceleb_16k.onnx"
      model: "/models/diarization/3dspeaker_speech_eres2net_sv_en_voxceleb_16k.onnx"
      # model: "/models/diarization/3dspeaker_speech_eres2net_base_sv_zh-cn_3dspeaker_16k.onnx"
      # model: "/models/diarization/3dspeaker_speech_eres2netv2_sv_zh-cn_16k-common.onnx"